@import 'main.scss';

.texte > p:first-child {
  page-break-before: left;
}

.table {
  @include summary;
}

  .table ul {
    @include summary-part;
  }

    .table li {
      @include summary-chapter;
    }

    // .table ul:last-child + li:last-child {
    //   page-break-after: left;
    // }

      .table li::before {
      			content: "";
      }

h1, #livre_surtitre {
  @include title;
  text-indent: 0;
}

  h1:first-letter {
    text-transform: capitalize;
  }

h2 {
  @include part;
  // text-transform: lowercase;
}

  h2:first-letter {
    text-transform: capitalize;
  }

h3 {
  @include chapter;
}

h4 {
  @include sub-chapter;
}

// h2 + h4 + p + h4 {
// 	page-break-before: always;
// }


#livre_soustitre {
  @include sub-title;
}

#livre_auteur {
  @include auteur-rice;
  page-break-after: right;
}

#credits {
  @include credits;
  page: last_page;
  page-break-before: right;
  page-break-before: left;
}

#credits p {
  @include credits_p;
  // page: last_page;
}

.cesure {
  text-align: center;
  padding: 2%;
}

// .texte::before {
//   page-break-inside: always;
// }

/* Display none */

#livre_auteur + p,
#livre_auteur + p + p,
#livre_auteur + p + p + ul {
  display: none;
}

h1 > span {
  display: none;
}

.ancre.not_print,
.catalogage {
	display: none;
}
