@import 'main.scss';

.sommaire {
  @include summary;
    margin-left: 0%;
    margin-top: 2%;
}

// .titre_sommaire + .sommaire {
//   @include summary-part;
//   background-color: yellow;
// }

.sommaire1 {
  @include summary-chapter;
  // background-color: red;
  // margin-left: 6%;
  text-transform: lowercase;
  margin-top: 2%;
}

.sommaire1:first-letter,
h1:first-letter,
h2:first-letter,
h3:first-letter,
.titre_sommaire:first-letter {
  text-transform: capitalize;
}

.sommaire2,
.sommaire2 > a > i {
  @include summary-sub-chapter;
  // background-color: green;
  margin-left: 6%;
}

.auteur {
  @include auteur-rice;
}

.titre_livre {
  @include title;
}

.sous_titre_livre {
  @include sub-title;
  page-break-after: left;
}

h1,
.titre_sommaire {
  @include part;
  text-transform: lowercase;
}

h2 {
  @include chapter;
  text-transform: lowercase;
}

h3,
h3 > i{
  @include sub-chapter;
  text-transform: lowercase;
}

.editeur {
  display: none;
}

.catalogage {
  display: none;
}

.exergue {
  page-break-before: always;
}

.chapitre > h1:first-child {
  page-break-before: left;
}


// .ident_pagetitre {
//
// }
//
// h1 .ident_tit {
//   @include title;
// }
//
// h2 .ident_stit {
//   @include sub-title;
// }



//  .auteur_ident {
//    position: absolute;
//  	 bottom: 5%;
//  }
//
//  .auteur_ident_multiple {
//    position: absolute;
//    bottom: 0%;
//  }
//
// .auteur,
// .biographies,
// .bio,
// .nomcol,
// .dircoll {
//   display: none;
// }
//
//  .page_informations,
//  .informations {
//     display: none;
//  }
//
// @page :first {
//   section .pagetitre {
//     background-color: red;
//   }
// }
//
// .exer {
//   page-break-before: left;
// }
