@font-face {
  font-family: "GenBkBasR";
  src: url("../fonts/GenBkBasR.ttf");
}

@font-face {
  font-family: "GenBkBasI";
  src: url("../fonts/GenBkBasI.ttf");
}

@font-face {
  font-family: "BrillRoman";
  src: url("../fonts/BrillRoman.ttf");
}

@font-face {
  font-family: "BrillItalic";
  src: url("../fonts/BrillItalic.ttf");
}

@font-face {
  font-family: "BrillBold";
  src: url("../fonts/BrillBold.ttf");
}

@font-face {
  font-family: "BrillBoldItalic";
  src: url("../fonts/BrillBoldItalic.ttf");
}

@font-face {
  font-family: "Faustina-Medium";
  src: url("../fonts/Faustina-Medium.ttf");
}

@font-face {
  font-family: "Faustina-Light";
  src: url("../fonts/Faustina-Light.ttf");
}

@font-face {
  font-family: "Faustina-ExtraBold";
  src: url("../fonts/Faustina-ExtraBold.ttf");
}

@font-face {
  font-family: "Faustina-Bold";
  src: url("../fonts/Faustina-Bold.ttf");
}

@font-face {
  font-family: "Faustina-Regular";
  src: url("../fonts/Faustina-Regular.ttf");
}

@font-face {
  font-family: "Faustina-BoldItalic";
  src: url("../fonts/Faustina-BoldItalic.ttf");
}

@font-face {
  font-family: "Faustina-SemiBoldItalic";
  src: url("../fonts/Faustina-BoldItalic.ttf");
}

@font-face {
  font-family: "Faustina-MediumItalic";
  src: url("../fonts/Faustina-BoldItalic.ttf");
}
