@import "fontes.css";

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: inherit;
}

a:hover{
	text-decoration: none;
}

.thinsp {
	letter-spacing: -.15em;
}

*:focus {
  outline: none;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

h1,
h2,
h3 {
	font-weight: normal;
}

p,
h1,
h2,
h3,
ul li {
	hyphens: auto;
}

strong {
	white-space: nowrap;
}

/* ////////////////////////////////////////////////// */
:root {
  --unit: 14px;
}

html {
  font-size: calc(var(--unit) * 1);
	/* width: 100vw;
	height: 100vh; */
	background-color: #e2dde4;
	padding: 5%;
}

h2,
h3 {
	font-family: "BrillBoldItalic";
	margin-bottom: 2%;
	color: DarkSlateGrey;
}

h2 {
	font-size: calc(var(--unit) * 4);
  line-height: calc(var(--unit) * 4);
}

h3 {
	font-size: calc(var(--unit) * 2.5);
  line-height: calc(var(--unit) * 2.5);
}

p, ul, li, input {
	font-family: "BrillRoman";
	color: DarkSlateGrey;
	font-size: calc(var(--unit) * 2.5);
	line-height: calc(var(--unit) * 2.5);
}

i {
	font-family: "BrillBoldItalic";
	/* font-size: calc(var(--unit) * 2.5);
	line-height: calc(var(--unit) * 2.5); */
}

ul {
	display: flex;
}

br {
	content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

	.input {
		position: relative;
		padding-top: 5%;
		width: 77%;
	}

	.textIntro {
			width: 77%;
	}
