@import "fontes.css";
/* RESET */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

.thinsp {
	letter-spacing: -.15em;
}

*:focus {
	outline: none;
}

details > summary {
	list-style: none;
}

details > summary::-webkit-details-marker {
	display: none;
}

h1,
h2,
h3 {
	font-weight: normal;
}

h1,
h2,
h3,
p,
ul li {
	hyphens: auto;
}

strong {
	white-space: nowrap;
}
///////////////////////////////////////////////////:
:root {
	--unit: 14px;
}

html {
	font-size: calc(var(--unit) * 1);
	color: DarkSlateGrey;
}

@page {
	size: 148mm 210mm; //format a5

	@top-center {
		content: string(title);
		font-family: "BrillBold";
		text-transform: uppercase;
		font-variant-numeric: lining-nums;
		white-space: nowrap;
	}

	@bottom-left {
		content: element(sidenote, all-once);
		padding: 5mm;
	}

	@footnote {
		float: bottom;
	}
}

.footnote {
	font-family: "BrillRoman";
	font-size: calc(var(--unit) * 1);
	line-height: calc(var(--unit) * 1.2);
	float: footnote;
	text-align: justify;
	hyphens: auto;
	orphans: 4;
	widows: 4;
}

@page :first {
  @bottom-right-corner {
    content: none;
  }
}

@page :first {
	break-after: left;
}

@page :right {
	margin: 20mm 15mm 20mm 20mm!important !important; //top right bottom left

	@bottom-right-corner {
		content: counter(page);
		font-family: "BrillBold";
		font-variant-numeric: lining-nums;
	}
}

@page :left {
	margin: 20mm 20mm 20mm 15mm!important !important; //top right bottom left

	@bottom-left-corner {
		content: counter(page);
		font-family: "BrillBold";
		font-variant-numeric: lining-nums;
	}
}

@page last_page:right {
	@bottom-left-corner {
		content: none;
	}
	@bottom-right-corner {
		content: none;
	}
	@top-center {
		content: none;
	}
}

@page last_page:left {
	@bottom-left-corner {
		content: none;
	}
	@bottom-right-corner {
		content: none;
	}
	@top-center {
		content: none;
	}
}
//
// @page:nth(2) {
// 	page-break-before: always;
// }

// @page second_page {
// 	 	page-break-after: always;
// }
//
// @mixin test {
// 	 background-color: red !important;
//
// }

@mixin credits {
	// page-break-after: always;
	position: absolute;
	bottom: 0;
}

@mixin credits_p {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 1);
	line-height: calc(var(--unit) * 1.2);
}

@mixin summary {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 1.3);
	line-height: calc(var(--unit) * 1.5);
	margin-left: 6%;
	text-align: left;
	font-variant-numeric: lining-nums;
}

@mixin summary-part {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 1.3);
	line-height: calc(var(--unit) * 1.5);
	margin-left: 6%;
	text-align: left;
	font-variant-numeric: lining-nums;
}

@mixin summary-chapter {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 1.3);
	line-height: calc(var(--unit) * 1.5);
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	font-variant-numeric: lining-nums;
}

@mixin summary-sub-chapter {
	font-family: "BrillBoldItalic";
	font-size: calc(var(--unit) * 1.1);
	line-height: calc(var(--unit) * 1.3);
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	font-variant-numeric: lining-nums;
}

@mixin title {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 3);
	line-height: calc(var(--unit) * 3.2);
	text-align: left;
	hyphens: none;
	font-variant-numeric: lining-nums;
}

@mixin sub-title {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 1.5);
	line-height: calc(var(--unit) * 1.7);
	text-align: left;
	font-variant-numeric: lining-nums;
}

@mixin auteur-rice {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 2.2);
	line-height: calc(var(--unit) * 2.4);
	position: absolute;
	bottom: 0;
	text-indent: 0;
	text-align: left;
	font-variant-numeric: lining-nums;
	// page-break-after: right;
}

@mixin part {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 2.2);
	line-height: calc(var(--unit) * 2.4);
	page-break-before: always;
	string-set: title content(text);
	padding-bottom: 8%;
	text-align: left;
	font-variant-numeric: lining-nums;
}

@mixin chapter {
	font-family: "BrillBold";
	font-size: calc(var(--unit) * 2.2);
	line-height: calc(var(--unit) * 2.4);
	page-break-before: always;
	padding-bottom: 4%;
	text-align: left;
	font-variant-numeric: lining-nums;
}

@mixin sub-chapter {
	font-family: "BrillBoldItalic";
	font-size: calc(var(--unit) * 1.1);
	line-height: calc(var(--unit) * 1.3);
	text-align: left;
	font-variant-numeric: lining-nums;
	// orphans: 3;
	// widows: 3;
	// padding-bottom: 2%;
	padding-top: 2%;
}

// @mixin sub-sub-chapter {
// 	font-family: "BrillBold";
// 	font-size: calc(var(--unit) * 1.8);
// 	line-height: calc(var(--unit) * 1.8);
//   margin-left: 10mm;
// }


p {
	font-family: "BrillRoman";
	font-size: calc(var(--unit) * 1.5);
	line-height: calc(var(--unit) * 1.7);
	text-align: justify;
	text-indent: 6%;
	orphans: 3;
	/* orphelin = première ligne d'un paragraphe qui apparaît seul en bas d'une page, ne fonctionne pas sur Firefox */
	widows: 3;
	/* veuve = dernière ligne d'un paragraphe qui apparaît seule en haut d'une page, ne fonctionne pas sur Firefox */
	hyphens: auto;
	word-spacing: normal;
	// hyphens: none;
	/* césure, fonctionne que sur Firefox */
	// hyphenate-limit-chars: 10 3 2;
	/* césure, fonctionne que sur Edge et Internet Explorer */
}

li {
	font-family: "BrillRoman";
	font-size: calc(var(--unit) * 1.5);
	line-height: calc(var(--unit) * 1.7);
	margin-left: 6%;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: justify;
	orphans: 3;
	/* orphelin = première ligne d'un paragraphe qui apparaît seul en bas d'une page, ne fonctionne pas sur Firefox */
	widows: 3;
	/* veuve = dernière ligne d'un paragraphe qui apparaît seule en haut d'une page, ne fonctionne pas sur Firefox */
	hyphens: auto;
	hyphens: none;
	word-spacing: normal;
	/* césure, fonctionne que sur Firefox */
	// hyphenate-limit-chars: 10 3 2;
	/* césure, fonctionne que sur Edge et Internet Explorer */
}

li::before {
	content: "–";
}

sup {
	vertical-align: text-top;
	font-size: smaller;
}

i {
	font-family: "BrillItalic";
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
